@use "../../helpers/colors";

.Output {
	height: 12rem;
	background-color: white;
	border-radius: .5rem;
	margin-top: 2.5rem;
	width: 45%;
	padding: .5rem 1rem;
	font-size: 1rem;
	line-height: 1.25;
}

.name {
	font-size: 2rem;
	color: colors.$blue;
}

.title {
	font-style: italic;
	font-size: 1.25rem;
	text-transform: uppercase;
	color: colors.$black;
}

.community-name {
	font-size: 1.15rem;
	text-decoration: underline;
}

.community-info {
	display: flex;

	.address {
		width: 50%;
		margin-left: 1rem;
	}

	.phone-number {
		width: 50%;
	}
}

