@use "../../helpers/colors";

html {
	background-color: colors.$cream;
	font-family: Urbanist;
}

.App {
	font-size: 24px;

	.container {
		margin: 0 auto;
		padding: 5rem 12rem;

		display: flex;
		justify-content: space-between;
	}
}

a {
	color: colors.$purple;
}
